@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using fourtynine.Partials
@using fourtynine.EditorTemplates
@model fourtynine.Postings.CreatePostingPageModel
@{
    ViewData["Title"] = "Create Posting";
}

<ImportFile path="src/postingForm.ts"></ImportFile>

@* https://tailwind-elements.com/docs/standard/forms/form-templates/ *@
<div 
  class="
    block
    p-6
    rounded-lg
    shadow-lg
    bg-white
    max-w-sm
    w-full
    text-gray-800
  "
>
  <form
    autocomplete="on"
    name="postingForm"
  >
    @Html.AntiForgeryToken()
    @Html.InputFor(m => m.Posting.Title)
    @Html.InputFor(m => m.Posting.Description)
    @Html.InputFor(m => m.Posting.ThumbnailUrl)

    <CheckBox
      for="Posting.Details.Pricing"
      label="Price?">
    </CheckBox>
    
    @* This will require a bunch of custom javascript *@
    <div enable-when="Posting.Details.Pricing">
      <h2 class="text-lg text-center">Pricing</h2>
      @Html.EditorFor(m => m.Posting.Details.Pricing)
    </div>
    
    <CheckBox
      for="Posting.Details.Location"
      label="Location?">
    </CheckBox>
    
    @* This will require a bunch of custom javascript *@
    <div enable-when="Posting.Details.Location">
      <h2 class="text-lg text-center">Location</h2>
      @Html.EditorFor(m => m.Posting.Details.Location)
    </div>
    
    <CheckBox
      for="Posting.Details.RealEstate"
      label="Real Estate?">
    </CheckBox>
    
    @* This will require a bunch of custom javascript *@
    <div enable-when="Posting.Details.RealEstate">
      <h2 class="text-lg text-center">Real Estate</h2>
      @Html.EditorFor(m => m.Posting.Details.RealEstate)
    </div>
    
    <CheckBox
      for="Posting.Details.Vehicle"
      label="Vehicle?">
    </CheckBox>
    
    <div enable-when="Posting.Details.Vehicle">
      <h2 class="text-lg text-center">Vehicle</h2>
      @Html.EditorFor(m => m.Posting.Details.Vehicle)
    </div>
    
    <button
      type="submit" 
      class="
        px-6
        py-2.5
        bg-blue-600
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-blue-700 hover:shadow-lg
        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-blue-800 active:shadow-lg
        transition
        duration-150
        ease-in-out
      "
    >
      Submit
    </button>
  </form>
</div>