@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using fourtynine.Partials
@model fourtynine.Postings.CreatePostingPageModel
@{
    ViewData["Title"] = "Create Posting";
}

@* https://tailwind-elements.com/docs/standard/forms/form-templates/ *@
<div 
  class="
    block
    p-6
    rounded-lg
    shadow-lg
    bg-white
    max-w-sm
    w-full
    text-gray-800
  "
>
  <form 
    autocomplete="on"
    name="postingForm"
    method="post"
  >
    @* TODO: *@
    @* Autogenerate to an extent?  *@
    @* There's too many things that are easy to miss. *@
    
    <FormInput
      for="Posting.Title"
      input-type="@(FormInputType.Text)">
    </FormInput>
    
    <FormInput
      for="Posting.Description"
      input-type="@(FormInputType.TextArea)">
    </FormInput>
    
    @* TODO: allow dropping images *@
    <FormInput
      for="Posting.ThumbnailUrl"
      label="Thumbnail"
      input-type="@(FormInputType.Text)">
    </FormInput>
    
    <FormCheckBox
      for="Posting.Details.Pricing"
      label="Price?">
    </FormCheckBox>
    
    @* This will require a bunch of custom javascript *@
    <div enable-when="Posting.Details.Pricing">
      <h2 class="text-lg text-center">Pricing</h2>
      
      @* TODO: Dropdowns *@
      <FormInput
        for="Posting.Details.Pricing!.BargainKinds"
        label="Bargain Kind"
        input-type="@(FormInputType.Dropdown)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.Pricing!.Price"
        input-type="@(FormInputType.Number)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.Pricing!.PriceMax"
        label="Maximum Price"
        input-type="@(FormInputType.Number)">
      </FormInput>
    </div>
    
    <FormCheckBox
      for="Posting.Details.Location"
      label="Location?">
    </FormCheckBox>
    
    @* This will require a bunch of custom javascript *@
    <div enable-when="Posting.Details.Location">
      <h2 class="text-lg text-center">Location</h2>
      
      <FormInput
        for="Posting.Details.Location!.Country"
        input-type="@(FormInputType.Text)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.Location!.Address"
        input-type="@(FormInputType.Text)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.Location!.City"
        input-type="@(FormInputType.Text)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.Location!.Latitude"
        input-type="@(FormInputType.Number)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.Location!.Longitude"
        input-type="@(FormInputType.Number)">
      </FormInput>
    </div>
    
    <FormCheckBox
      for="Posting.Details.RealEstate"
      label="Real Estate?">
    </FormCheckBox>
    
    @* This will require a bunch of custom javascript *@
    <div enable-when="Posting.Details.RealEstate">
      <h2 class="text-lg text-center">Real Estate</h2>
      
      @* Requires passing expressions ... *@
      @* TODO: *@
      <FormInput
        for="Posting.Details.RealEstate!.Kind"
        input-type="@(FormInputType.Dropdown)">
      </FormInput>

      @* TODO: *@
      <FormInput
        for="Posting.Details.RealEstate!.SpacePurpose"
        input-type="@(FormInputType.Dropdown)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.RealEstate!.Rooms"
        input-type="@(FormInputType.Number)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.RealEstate!.Area"
        input-type="@(FormInputType.Number)">
      </FormInput>
    </div>
    
    <FormCheckBox
      for="Posting.Details.Vehicle"
      label="Vehicle?">
    </FormCheckBox>
    
    <div enable-when="Posting.Details.Vehicle">
      <h2 class="text-lg text-center">Vehicle</h2>
      
      <FormInput
        for="Posting.Details.Vehicle!.Year"
        input-type="@(FormInputType.Number)">
      </FormInput>

      <FormInput
        for="Posting.Details.Vehicle!.Model"
        input-type="@(FormInputType.Text)">
      </FormInput>
      
      <FormInput
        for="Posting.Details.Vehicle!.Manufacturer"
        input-type="@(FormInputType.Text)">
      </FormInput>
    </div>
    
    <button
      type="submit" 
      class="
        px-6
        py-2.5
        bg-blue-600
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-blue-700 hover:shadow-lg
        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-blue-800 active:shadow-lg
        transition
        duration-150
        ease-in-out
      "
    >
      Submit
    </button>
  </form>
</div>