@using fourtynine.Partials
@model fourtynine.Partials.FormInputModel

@* TODO: add validation *@
<div class="form-group mb-6">
    <label
        for="@(Model.Id)"
        class="
            inline-block
            mb-2
            text-gray-700
        "
    >@(Model.Label)</label>

    <input
        name="@(Model.Id)"
        type="@(Model.InputType.ToHtmlString())"
        class="
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700
            focus:bg-white
            focus:border-blue-600
            focus:outline-none
        "
        placeholder="@(Model.PlaceHolder)"
    >
</div>


